<div class="container" fxLayoutAlign="center center" > 
  <mat-card class="example-card" layout-align="center center" style="min-width: 400px;">
  <p>  
    <br>
    <mat-card-title>
      <div class="container" fxLayout="column" fxLayoutAlign="center center" >
        <div>
          <img src="assets/logo.png" alt="image" height="200" width="200" align="middle"><br>
        </div>
        <div class="child" style="font-size: 45px;">
          creatospace
        </div>
      </div>
    </mat-card-title>
    <mat-card-content style="margin-top: 10%;">
      <form novalidate (ngSubmit)="onSubmit()">
        <div class="container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1%">
        <div ></div>
        <div>
        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>username</mat-label>
          <input matInput name="username" [formControl]="username" required > 
          <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" hideRequiredMarker style="margin-bottom: 0;">
            <mat-label>Password</mat-label>
            <input matInput name="password" id="password" type="password" minlength="8" [formControl]="password"> 
            <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          <br>
          <!-- we have to put link for the forgot password component here -->
          <a routerLink="/"><p style="text-align: right; margin-top: 0;">Forgot your password?</p> </a>
        </div>
        </div>
      </form>
    </mat-card-content>
    
    <mat-card-actions >
      <div class="container" fxLayout="column" fxLayoutGap="10%" fxLayoutAlign="center center" fxLayoutGap.lt-md="10%">
        <div class="child">
          <button  mat-raised-button color="primary" routerLink="/home" type="submit" style="min-width: 100px;">Login</button>
        </div>
        <div class="child">
          New User?
          <a routerLink="/signup" type="submit">Signup</a>
        </div>
        <div class="child">
          <!-- here we are supposed to add the login via fb, google + and linkedin components -->
          <div class="container" fxLayout="row" fxLayoutGap="25%" fxLayoutAlign="center center" >
            <div class="child">
              <a routerLink ="/" ><img src="assets/facebook.png" class="zoom" style="width: 50px" ></a>
            </div>
            <div class="child">
              <a routerLink ="/" ><img src="assets/google+.png" class="zoom" style="width: 50px" ></a>
            </div>
            <div class="child">
              <a routerLink ="/" ><img src="assets/linkedin.png" class="zoom" style="width: 50px" ></a>
            </div>
          </div>
        </div>
      </div>

    </mat-card-actions>
  </p>
  </mat-card>
</div> 

  <router-outlet></router-outlet>
  
